.header {
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.width{
  width: 100rem;
}

@media screen and (max-width: 639.99px) {
  .header {
    width: 40rem;
  }
  .width{
    width: 40rem;
  } 
}
