.container {
  display: flex;
  width: 54.1875rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background: #fff;
}

.HeaderForm {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: var(--greyscaletext-60, #3f3f3f);
}

.titleHeader {
  color: var(--Gray-Scale-80, #2e2e2e);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.name {
  color: var(--Gray-Scale-50, #727272);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
}

.BodyForm {
  width: 100%;
}

.containerPrice {
  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.priceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.titlePrice {
  color: var(--greyscaletext-60, #3f3f3f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.priceWrap {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 0rem;
  align-items: center;
  gap: 1.5rem;
}

.priceText {
  width: 3.3125rem;
  color: var(--greyscaletext-40, #6a6a6a);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.btnContainer {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--greyscaletext-5, #f1f1f1);
}

.pax {
  color: var(--greyscaletext-60, #3f3f3f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.number {
  color: var(--orange-normal-hover, #da4b19);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.btnWrap {
  display: flex;
  padding: 0rem 0.12238rem 0rem 0.12225rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btnIcon {
  width: 0.46875rem;
  height: 0.23438rem;
  flex-shrink: 0;
  color: rgba(38, 38, 38, 1);
}

.totalContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.titleTotal {
  color: var(--Orange-Darker, #551d0a);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.005rem;
}

.total {
  display: flex;
  width: 10.5625rem;
  padding: 0.25rem 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--greyscaletext-5, #f1f1f1);
  color: var(--greyscaletext-80-main, #262626);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.5rem */
}

.customInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  width: 100%;
}

.titleCustomInfo {
  color: var(--Gray-Scale-80, #2e2e2e);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.inputName {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
  background: var(--greyscaletext-0, #fff);
  width: 100%;
  color: var(--Gray-Scale-80, #2e2e2e);
}

.contactContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  width: 100%;
}

.inputPhone,
.inputEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
  background: var(--greyscaletext-0, #fff);
  color: var(--Gray-Scale-80, #2e2e2e);
}

.TextareaMessage {
  display: flex;
  height: 5.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
  background: var(--greyscaletext-0, #fff);
  color: var(--Gray-Scale-80, #2e2e2e);
}

.containerBooking {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.75rem;
  width: 100%;
}

.itemBooking {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  background: var(--greyscaletext-0, #fff);
  color: var(--Gray-Scale-80, #2e2e2e);
}

.labelBook {
  color: var(--Gray-Scale-80, #2e2e2e);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.selectText {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--Gray-Scale-80, #2e2e2e);
  border-radius: 0.5rem;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
  background: var(--greyscaletext-0, #fff);
  width: 100%;
}

.itemDate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  background: var(--greyscaletext-0, #fff);
  color: var(--Gray-Scale-80, #2e2e2e);
}

.calendarItem {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
}

.Address {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  background: var(--greyscaletext-0, #fff);
  color: var(--Gray-Scale-80, #2e2e2e);
}

.inputAddress {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
}

.PaymentContainer {
  display: flex;
  gap: 1.88rem;
}

.btnPaymentContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btnPayLeft {
  display: flex;
  width: 13.4375rem;
  height: 3.5rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--orange-normal-hover, #da4b19);
  background: var(--orange-normal-hover, #da4b19);
  color: var(--greyscaletext-0, #fff);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  text-transform: uppercase;
}

.btnPayRight {
  display: flex;
  height: 3.5rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Orange-Normal, #e64827);
  color: var(--Orange-Normal, #e64827);
  text-align: center;
  font-family: Poppins;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 153.846% */
}

.imagesPayment {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.imgPayment {
  width: 2.1875rem;
  height: 1.37256rem;
}
