.banner {
  background: url("../../public/assets/images/Banner_1.png") no-repeat;
  width: 100rem;
  height: 49.25rem;
  flex-shrink: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 639.99px) {
  .banner {
    background: url("../../public/assets/images/Banner_mobile_1.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40rem;
    height: 58.5rem;
  }
  .hide{
    display: none;
  }
}
