.reviewer-1 {
    position: absolute;
    top: -10rem;
    left: -34rem;
  }
  
  .reviewer-2 {
    position: absolute;
    top: 6rem;
    left: -42.25rem;
  }
  
  .reviewer-3 {
    position: absolute;
    top: -2.5rem;
    left: 18.25rem;
  }